body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Spartan", sans-serif;
  background-color: #c8dad3;
  /* color: white;
  background-image: url('assets/background-far-buildings.png'); */
}

#info, #div-level {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 10px 0 10px 0;
}

h3 {
  padding: 0 100px;
}

div {
  margin: -10px 0;
}