body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Spartan", sans-serif;
  /* background-color: #c8dad3; */
  background-color: #23223e;
  color: white;
}

#info, #div-level, #dystopia {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 2px 0 6px 0;
  text-align: left;
}

#h3-level {
  padding: 8px 25px 0 25px;
}

h3 {
  padding: 0 25px 0 25px;
  margin: 0px 0 8px 0;
}

#defaultCanvas0 {
  max-width: 837.33px;
  max-height: 628px;
}

#buttons {
  font-size: 16px;
  margin: 16px 0 0 0;
}

#buttons span {
  color: red;
}